build/vs2019
build/vs2022
FitdLib/shaders/generated
data
build/.cmake/**
build/CMakeFiles/**
build/Fitd/**
build/FitdLib/**
build/ThirdParty/**
build/zlib/**
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.ninja_deps
build/.ninja_log
build/build.ninja
