build/vs2019
FitdLib/shaders/generated
build/vs2022
data
build/.cmake/**
build/CMakeFiles/**
build/Fitd/**
build/FitdLib/**
build/ThirdParty/**
build/zlib/**
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.ninja_deps
build/.ninja_log
build/build.ninja
